<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/style.css">
    <title>American Funding</title>
</head>
<body>
    <form method="post">
        <div class="row">
            <div class="col-md-12">
                <h1>Login</h1>
            </div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">

            <label for="password">Password:</label>
            <input type="text" id="password" name="password">

            <button type="submit">Log In</button>

            <br/>
            <br/>

            <h3>{{ wrong_credentials }}</h3>
        </div>
    </form>
</body>
</html>